<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.kingxunlian.message.typehandlers.UUIDTypeHandler"/>
        <typeHandler handler="com.kingxunlian.message.typehandlers.IntEnumTypeHandler"
                     javaType="com.kingxunlian.message.dto.enums.MessageTypeEnum"/>
        <typeHandler handler="com.kingxunlian.message.typehandlers.IntEnumTypeHandler"
                     javaType="com.kingxunlian.message.dto.enums.MessageStateEnum"/>
    </typeHandlers>
</configuration>
